*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: whitesmoke;
  background-color: black;
  padding: 10px;
}
header{
  text-align: right;
  background-color: crimson;
  padding: 25px;
}
header h1{
  font-size: xx-large;
  margin-right: 3%;
}
header p{
  font-size: smaller;
  text-transform: uppercase;
  color: bisque;
  display: block;
}

img{
  height: 150px;
  width: 150px;
  margin: 25px;
  border-radius: 50%;
}
.Skills{
  color: aquamarine; 
}
.list{
  list-style: square;
  margin: 10px;
  padding: 10px;

}
.projects{
  margin: 10px;
  padding: 10px;
}
.projects a{
  color: cadetblue;
  text-decoration: none;
}
.projects a:hover{
  color: red;
}
footer{
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: crimson;
}
@media(max-width:600px){
  header h1{
    font-size: smaller;
    margin-right: 3%;
  }
  header p{
    font-size: smaller;
    text-transform: uppercase;
    color: bisque;
    display: block;
  }
  

}